body {
  background-color: rgb(255, 245, 232);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  margin: 5px;
  border: solid 1px #000;
  width: 150px;
}